@media screen and (min-width: 640px)
              and (max-width: 1080px){
  .about-me__title {
    font-size: 2.2em;
  }
  .about-me__description {
    max-width: 85%;
    font-size: 1.3em;
  }
  .about-me__skills__flex {
    height: 820px;
  }
.about-me__biography__item {
  min-width: 320px;
  max-width: 360px;
}
  .about-me__biography__text {
    max-width: 75%;
  }
  .about-me__first-letter {
    font-size: 1.7em;
  }
  .about-me__email {
    margin-bottom: 1.5em;
  }
  .about-me__main {
    margin-top: 5em;
  }
  .footer {
    height: 170px;
  }
  .footer__info__container {
    margin: 1.5em 1em 1em;
    display: flex;
    flex-direction: column;
  }
  .footer__copyright {
    flex: 4
  }
  .footer-menu__list {
    flex: 4;
  }
  .footer__social-btn {
    flex: 5;
  }
}
