body {
  background-image: url(../images/about_background.svg);
  background-size: 200px;
  height: 200px;
  background-repeat: repeat;
  overflow-x: hidden;
}

/* Titles */
.about-me__title {
  width: 100%;
  margin: 0;
  padding: 1em 0 0.5em;
  color: #ff789e;
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
}
.about-me__title--white {
  color: #fff;
}
.about-me__title__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-color: #ff789e;
}
.about-me__title__dot--white {
  background-color: #fff;
}

/*** Container ***/
.about-me__container {
  padding-top: 4em;
  -webkit-animation: showAbout 0.8s forwards linear;
          animation: showAbout 0.8s forwards linear;
}

/*** Header ***/
.about-me__header {
  margin-top: -4em;
  background-image: url(../images/about_header.svg);
  background-size: 700px;
  background-position: center 13em;
  background-repeat: no-repeat;
  background-color: #4b6498;
  height: 636px;
  position: relative;
}
.about-me__header .about-me__title {
  position: absolute;
  top: 1.5em;
}
.about-me__description {
  width: 65%;
  font-size: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 6.5em;
}

/***  Main ***/
.about-me__main {
  margin: 3em auto;
}
.about-me__title--small {
  width: 97%;
  padding-top: 0.2em;
  padding-bottom: 1.1em;
  font-size: 2em;
  color: #fff;
  text-align: right;
}

/* Skills */
.about-me__skills__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  height: 420px;
  margin: 0 auto;
  padding: 0 0.8em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: hidden;
}
.about-me__skills__item {
  display: inline-block;
  min-width: 200px;
  max-width: 240px;
  margin: 1em;
  height: 370px;
  background-color: #fff;
  box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
              0 13px 13px -10px rgba(0,0,0,0.4);
  border-bottom: 12px solid #ff789e;
  border-radius: 3px;
  overflow-x: hidden;
}
.about-me__skills__item:nth-child(even) .about-me__skills__header {
  background-color: #7078a9;
  background: linear-gradient(to top, #7078a9 0%, #ff5988 100%);
}
.about-me__skills__header {
  width: 100%;
  height: 120px;
  background-color: #ff5988;
  background: linear-gradient(to bottom, #7078a9 0%, #ff5988 100%);
  position: relative;
}
.about-me__skills__header:before {
  content: "";
  width: 78px;
  height: 78px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about-me__skills__logo {
  width: 34px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about-me__skills__item:nth-child(3) .about-me__skills__logo,
.about-me__skills__item:nth-child(5) .about-me__skills__logo,
.about-me__skills__item:nth-child(7) .about-me__skills__logo,
.about-me__skills__item:nth-child(8) .about-me__skills__logo {
  width: 40px;
}
.about-me__skills__item:nth-child(4) .about-me__skills__logo {
  width: 55px;
}
.about-me__skills__item:nth-child(6) .about-me__skills__logo {
  width: 45px;
  left: 51%;
}
.about-me__skills__item:nth-child(7) .about-me__skills__logo {
  width: 45px;
  left: 51%;
}
.about-me__skills__item:nth-child(9) .about-me__skills__logo,
.about-me__skills__item:nth-child(10) .about-me__skills__logo {
  width: 45px;
}
/* skills item opacity */
.about-me__skills__item:nth-child(n+5) {
  opacity: 0;
}
.about-me__skills__middle {
  width: 100%;
  height: 80px;
  background-color: #f6f6f9;
  padding-top: 0.5em;
  text-align: center;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.3),
              0 -5px 13px 0px rgba(106,66,87,0.4);
  position: relative;
  z-index: 2;
}
.about-me__skills__middle__name {
  margin: 0;
  color: #382266;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 2.3;
}

/* Not needed for now */

/* .about-me__skills__middle__description {
  display: inline-block;
  margin: 0;
  margin-top: 0em;
  color: #ff789e;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  position: relative;
} */
/* .about-me__skills__middle__description:before,
.about-me__skills__middle__description:after {
  content: "";
  width: 10px;
  border-bottom: 2px solid #ff789e;
  position: absolute;
  top: 50%;
}
.about-me__skills__middle__description:before {
  right: 100%;
  margin-right: 0.6em;
}
.about-me__skills__middle__description:after {
  left: 100%;
  margin-left: 0.6em;
} */
.about-me__skills__text {
  margin: 1.2em auto 0.8em;
  max-width: 85%;
  color: #382266;
  font-size: 1.15em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
.about-me__skills__text--accent {
  color: #ff789e;
}
.about-me__skills__btn {
  display: block;
  box-sizing: border-box;
  width: 200px;
  margin: 1em auto 4em;
  padding: 10px;
  background-color: #fff;
  color: #382266;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: none;
  border-bottom: 8px solid #ff789e;
  border-radius: 3px;
  box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
              0 13px 13px -10px rgba(0,0,0,0.4);
}

/* Biography */
.about-me__biography__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-me__biography__item {
  position: relative;
  margin: 1em;
  max-width: 330px;
  height: 360px;
  background-color: #fff;
  box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
              0 13px 13px -10px rgba(0,0,0,0.4);
  border-radius: 3px;
  transition: all 1s linear;
  overflow: hidden;
}
.about-me__biography__header {
  width: 100%;
  height: 94px;
  background-color: #7078a9;
  background: linear-gradient(to bottom, #7078a9 0%, #9ba4cb 100%);
  position: relative;
}
.about-me__biography__header__icon {
  width: 70px;
  height: auto;
  position: absolute;
  bottom: 0.8em;
  left: 1em;
  opacity: 0.5;
}
.about-me__biography__item:nth-child(1) .about-me__biography__header__icon {
  bottom: 0.6em;
  left: 0.3em;
  width: 95px;
}
.about-me__biography__description {
  position: absolute;
  bottom: -0.9em;
  right: 0em;
  display: inline-block;
  padding: 1px 10px;
  background-color: #ff789e;
  color: #fff;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: none;
}
.about-me__biography__text {
  max-width: 100%;
  margin: 1.5em auto;
  padding: 0 1em;
  color: #382266;
  font-size: 1.15em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}
.about-me__first-letter {
  display: inline-block;
  margin-top: -1em;
  font-size: 1.7em;
  color: #ff789e;
}
.about-me__more {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 96px;
  padding: 5px 0;
  background-color: #8d94ba;
  border: none;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  box-shadow: -95px 1px 0 1px #fff,
              -180px 1px 0 1px #fff,
              -225px 1px 0 1px #fff,
              -260px 1px 0 1px #fff;
  cursor: pointer;
}
.about-me__email__container {
  width: 360px;
  height: 50px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
              0 13px 13px -10px rgba(0,0,0,0.4);
  border-radius: 3px;
  position: relative;
}
.about-me__email__icon {
  width: 30px;
  height: auto;
  background-color: #8d94ba;
  padding: 17px 10px 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.about-me__email {
  color: #ff789e;
  font-size: 1.4em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 67px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: all .3s linear;
}
