body {
  background-image: url(../images/back_4.jpg);
  background-size: 300px;
  height: 300px;
  background-repeat: repeat;
  overflow-x: hidden;
}
.about-me__title--white {
  color: #fff;
}
.about-me__title__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-color: #ff789e;
}
.about-me__title__dot--white {
  background-color: #fff;
}
.about-me__container {
  padding-top: 4em;
  animation: showAbout 0.8s forwards linear;
}
.about-me__header {
  margin-top: -2em;
  background-image: url(../images/back_new.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #8d94ba;
  height: 600px;
  position: relative;
}
.about-me__header .about-me__title {
  position: absolute;
  top: 0em;
}
.about-me__title {
  width: 100%;
  margin: 0;
  padding: 1em 0 0.5em;
  color: #ff789e;
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
}
/***  Main ***/
.about-me__main {
  margin: 3em auto;
}
.about-me__title--small {
  width: 97%;
  padding-top: 0.2em;
  padding-bottom: 1.1em;
  font-size: 2em;
  color: #fff;
  text-align: right;
}
.about-me__description {
  max-width: 65%;
  margin: 0 auto;
  font-size: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 17%;
  top: 5em;
}
.about-me__skills__flex {
  display: flex;
  padding: 0 2em;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 0;
}
.about-me__skills__item {
  flex: 4;
  min-width: 200px;
  max-width: 240px;
  margin: 1em;
  height: 360px;
  background-color: #fff;
  box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
              0 13px 13px -10px rgba(0,0,0,0.4);
  border-bottom: 12px solid #ff789e;
  border-radius: 3px;
  overflow-x: hidden;
}
.about-me__skills__item:nth-child(even) .about-me__skills__header {
  background: linear-gradient(to top, #7078a9 0%, #ff5988 100%);
}
.about-me__skills__header {
  width: 100%;
  height: 120px;
  background: linear-gradient(to bottom, #7078a9 0%, #ff5988 100%);
  position: relative;
}
.about-me__skills__header:before {
  content: "";
  width: 78px;
  height: 78px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-me__skills__logo {
  width: 34px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-me__skills__item:nth-child(3) .about-me__skills__logo {
  width: 39px;
}
.about-me__skills__middle {
  width: 100%;
  height: 80px;
  background-color: #f6f6f9;
  padding-top: 0.5em;
  text-align: center;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.3),
              0 -5px 13px 0px rgba(106,66,87,0.4);
  position: relative;
  z-index: 2;
}
.about-me__skills__middle__name {
  margin: 0;
  color: #382266;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.about-me__skills__middle__description {
  margin: 0;
  margin-top: -0.3em;
  color: #ff789e;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  position: relative;
}
.about-me__skills__middle__description:before,
.about-me__skills__middle__description:after {
  content: "";
  width: 60px;
  border-bottom: 2px solid #ff789e;
  position: absolute;
  top: 50%;
}
.about-me__skills__middle__description:before {
  left: 0;
}
.about-me__skills__middle__description:after {
  right: 0;
}
.about-me__skills__text {
  margin: 1em auto 0;
  max-width: 85%;
  color: #382266;
  font-size: 1.15em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
/* Biography */
.about-me__biography__flex {
  display: flex;
  padding: 0 2em;
}
.about-me__biography__item {
  position: relative;
  margin: 1em;
  flex: 4;
  height: 360px;
  background-color: #fff;
  box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
              0 13px 13px -10px rgba(0,0,0,0.4);
  border-radius: 3px;
  transition: all 1s linear;
  overflow: hidden;
}
.about-me__biography__header {
  width: 100%;
  height: 94px;
  background: linear-gradient(to bottom, #7078a9 0%, #9ba4cb 100%);
  position: relative;
}
.about-me__biography__description {
  position: absolute;
  bottom: -0.9em;
  right: 0em;
  display: inline-block;
  padding: 1px 10px;
  background-color: #ff789e;
  color: #fff;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: none;
}
.about-me__biography__text {
  max-width: 100%;
  margin: 1.5em auto;
  padding: 0 1em;
  color: #382266;
  font-size: 1.15em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}
.about-me__first-letter {
  display: inline-block;
  margin-top: -1em;
  font-size: 1.7em;
  color: #ff789e;
}
.about-me__more {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 96px;
  padding: 5px 0;
  background-color: #8d94ba;
  border: none;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  box-shadow: -95px 0 0 0 #fff,
              -180px 0 0 0 #fff,
              -225px 0 0 0 #fff;
  cursor: pointer;
}
.about-me__more.about__me__more__slide {
  animation: slide 1s linear;
}
@keyframes slide {
  0%, 100% {
    right: 0;
  }
  50% {
    right: -100%;
  }
}
.about-me__email {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 7px 10px;
  color: #ff789e;
  font-size: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
              0 13px 13px -10px rgba(0,0,0,0.4);
}
