@media screen and (min-width: 320px)
              and (max-width: 768px){
  .about-me__title {
    font-size: 2.2em;
  }
  .about-me__description {
    max-width: 85%;
    font-size: 1.3em;
  }
  /* skills */
.about-me__skills__flex {
  height: 820px;
}
.about-me__skills__item {
  min-width: 220px;
  max-width: 240px;
}
.about-me__skills__btn {
  margin-top: 0.5em;
}
  /* biography */
  .about-me__biography__flex {
    margin-top: 2em;
    flex-wrap: wrap;
  }
  .about-me__biography__item {
    min-width: 280px;
    max-width: 360px;
    height: 380px;
    margin: 1em auto;

  }
  .about-me__biography__text {
    max-width: 85%;
  }
  .about-me__first-letter {
    font-size: 1.7em;
  }
  .footer {
    height: 170px;
  }
  .footer__info__container {
    margin: 1.5em 1em 1em;
    display: flex;
    flex-direction: column;
  }
  .footer__copyright {
    flex: 4
  }
  .footer-menu__list {
    flex: 4;
  }
  .footer__social-btn {
    flex: 5;
  }
}
