body {
  background-color: #fff;
}
.about-me__main {
  background: #fff;
}
.about-me__title {
  width: 100%;
  margin: 0;
  padding: 2em 0 1em;
  color: #ff789e;
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.about-me__title--white {
  color: #fff;
}
.about-me__title__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-color: #ff789e;
}
.about-me__title__dot--white {
  background-color: #fff;
}
.about-me__flex {
  display: flex;
  margin: 3em 0 0;
  padding-bottom: 10em;
  padding: 0 3em;
  justify-content: space-around;
  flex-wrap: wrap;
  /*background-color: */
  background: linear-gradient(to top, #ff99b6 0%, #ff4d7f 100%);
  position: relative;
}
.biography-svg {
  width: 100%;
  height: 360px;
  /*background-color: */
  background: linear-gradient(to top, #ff99b6 0%, #ff4d7f 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.biography-triangle,
.biography-rectangle {
  fill: #fff;
}
.about-me__flex__item {
  width: 250px;
  height: 250px;
  margin: 0 2.5em;
  padding: 1em;
  background-color: #8d94ba;
  border-radius: 50%;
  position: relative;
}
.about-me__flex__item:nth-child(-n+4):before {
  content: "";
  width: 102%;
  height: 102%;
  border: 3px solid #ff789e;
  border-radius: 50%;
  position: absolute;
  top: -2%;
  left: -2%;
}
.about-me__flex__item__title {
  display: inline-block;
  width: 115px;
  margin: 0;
  margin-bottom: -0.5em;
  margin-left: -1em;
  padding: 5px 13px 8px;
  background-color: #ff789e;
  border-radius: 10px;
  color: #fff;
  font-size: 1.7em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 1.1em;
  left: -0.5em;
}
.about-me__list {
  padding: 0;
  padding-right: 0.5em;
  border-right: 2px solid #ff789e;
  color: #ff789e;
  text-align: right;
  position: relative;
  top: 43%;
  left: 20%;
  transform: translateX(-50%) translateY(-50%);
}
.about-me__list__item {
  color: #fff;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
}
.about-me__flex__item:nth-child(3) {
  top: 4em;
}
.about-me__biography {
  max-width: 100%;
  margin-top: 4em;
  padding-bottom: 5em;
  /*background-color: #ff789e;*/
  background: linear-gradient(to bottom, #ff99b6 0%, #ff4d7f 100%);
}
.about-me__biography__text {
  max-width: 60%;
  margin: 1em auto;
  color: #fff;
  font-size: 1.4em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
