@media screen and (min-width: 800px)
              and (max-width: 1080px){
  .about-me__title {
    font-size: 2.2em;
  }
  .about-me__description {
    max-width: 85%;
    font-size: 1.3em;
  }
  /* skills */
  .about-me__skills__flex {
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 410px;
  }
  .about-me__skills__item {
    margin: 1em 0.5em;
    min-width: 240px;
    max-width: 260px;
  }
  .about-me__skills__btn {
    margin-top: 0.5em;
  }
  /* biography */
  .about-me__biography__flex {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 2em;
    justify-content: center;
    flex-flow: row;
  }
  .about-me__biography__item {
    max-width: 300px;
    height: 390px;
    margin: 0.5em;
  }
  .about-me__biography__text {
    max-width: 85%;
  }
  .about-me__first-letter {
    font-size: 1.7em;
  }
  .footer {
    height: 170px;
  }
  .footer__info__container {
    margin: 1.5em 1em 1em;
    display: flex;
    flex-direction: column;
  }
  .footer__copyright {
    flex: 4
  }
  .footer-menu__list {
    flex: 4;
  }
  .footer__social-btn {
    flex: 5;
  }
}
