@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-me__title {
    font-size: 2.2em;
  }
  .about-me__description {
    max-width: 85%;
    font-size: 1.2em;
  }
  .about-me__flex {
    flex-direction: column;
    background-color: #fff;
  }
  .about-me__svg {
    background-color: #fff;
  }
  .about-me__circle {
    display: none;
  }

  .about-me__biography__text {
    max-width: 85%;
  }
  .about-me__first-letter {
    font-size: 1.7em;
  }
}
