body {
  background-color: #fff;
  overflow-x: hidden;
}
.about-me__container {
  padding-top: 4em;
  animation: showAbout 0.8s forwards linear;
}
.about-me__title {
  width: 100%;
  margin: 0;
  padding: 1em 0 0.5em;
  color: #ff789e;
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}
.about-me__title--small {
  width: 97%;
  padding-top: 0.2em;
  padding-bottom: 1.1em;
  font-size: 2em;
  color: #fff;
  text-align: right;
}
.about-me__title--white {
  color: #fff;
}
.about-me__title__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-color: #ff789e;
}
.about-me__title__dot--white {
  background-color: #fff;
}
.about-me__description {
  max-width: 60%;
  margin: 0 auto;
  font-size: 1.4em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #382266;
  text-align: center;
}
.about-me__flex {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
}
.about-me__flex__item {
  flex: 3;
  margin: 0 1.5em;
  padding: 0em;
  overflow-x: hidden;
}
.about-me__list__item {
  color: #ff789e;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.9em;
  position: relative;

}
.about-me__list__item:before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: -1.4em;
  width: 14px;
  height: 14px;
  background-color: #8d94ba;
}
.about-me__list__item:after {
  content: "";
  position: absolute;
  top: 1.2em;
  left: auto;
  width: 110%;
  border-bottom: 2px dotted #8d94ba;
}
/***  Main ***/
.about-me__main {
  display: flex;
  margin-bottom: 3em;
  padding: 0 2em;
  background: #fff;
}
.about-me__main__item {
  position: relative;
  margin: 1em;
  flex: 4;
  height: 360px;
  background-color: #fff;
  box-shadow: 0 0 3px -1px rgba(0,0,0,0.4);
  border-radius: 1px;
  transition: all 1s linear;
  overflow: hidden;
}
.about-me__item__header {
  width: 100%;
  height: 94px;
  background-color: #8d94ba;
  position: relative;
}
.about-me__title__description {
  position: absolute;
  bottom: -0.9em;
  right: 0em;
  display: inline-block;
  padding: 1px 10px;
  background-color: /*rgba(255,255,255,1)*/#ff789e;
  color: #fff;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: none;
}
.about-me__biography__text {
  max-width: 100%;
  margin: 1.5em auto;
  padding: 0 1em;
  color: #382266;
  font-size: 1.15em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}
.about-me__first-letter {
  display: inline-block;
  margin-top: -1em;
  font-size: 1.7em;
  color: #ff789e;
}
.about-me__more {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 96px;
  padding: 5px 0;
  background-color: #8d94ba;
  border: none;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  box-shadow: -95px 0 0 0 #fff,
              -180px 0 0 0 #fff,
              -225px 0 0 0 #fff;
  cursor: pointer;
}
.about-me__more.about__me__more__slide {
  animation: slide 1s linear;
}
@keyframes slide {
  0%, 100% {
    right: 0;
  }
  50% {
    right: -100%;
  }
}
.about-me__email {
  display: block;
  margin: 0 auto;
  color: #ff789e;
  font-size: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: center;
}
