/*  .header__nav  */
@keyframes slideInNav {
  0% {
    transform: translateY(-100%);
    top: -58px;
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    top: 0;
    opacity: 1;
  }
}

/*  .header__title  */
@keyframes slideInTitle {
  0% {
    transform: translateX(-50%) scale3d(0.5);
    top: 4em;
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale3d(1);
    top: 2em;
    opacity: 1;
  }
}

/*  .header__subtitle  */
@keyframes slideInSubtitle {
  0% {
    transform: translateX(-50%) scale3d(1, 1, 0.5);
    top: 8em;
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale3d(1, 1, 1);
    top: 6.5em;
    opacity: 1;
  }
}

/*  .header__btn  */
@keyframes slideInBtn {
  0% {
    transform: translateX(-50%) scale3d(1, 1, 0.5);
    bottom: 4em;
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale3d(1, 1, 1);
    bottom: 6em;
    opacity: 1;
  }
}

/* .header__mouse__roll  */
@keyframes roll {
  0% {
    transform: translateY(0%) scale(1, 1);
    opacity: 0;
  }
  50% {
    transform: translateY(7%) scale(1.3, 0.8);
    opacity: 1;
  }
  100% {
    transform: translateY(10%) scale(1.3, 0.8);
    opacity: 0;
  }
}

/*  .header__bottom  */
@keyframes slideInBottom {
  0% {
    transform: translateX(-50%) translateY(100%);
    bottom: -45px;
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0%);
    bottom: 0;
    opacity: 1;
  }
}
