@media screen and (min-width: 320px)
              and (max-width: 768px) {
  .nav-menu__text,
  .nav-menu__email {
    font-size: 1em;
  }
  .nav-menu__social-btn {
    margin-left: 1.6em;
  }
  .nav-menu .fa-2x {
    font-size: 1.9em;
  }
  .project__header {
    padding-bottom: 2em;
  }
  .project__title {
   max-width: 90%;
  }
  .project__description {
    max-width: 85%;
    margin-bottom: 2.5em;
    font-size: 1.3em;
    border: none;
  }
  .project__header__img {
    margin-bottom: 1.5em;
  }
  .project__header__btn {
    width: 140px;
    margin: 0.5em;
    font-size: 1em;
  }
  .project__flex {
    margin: 2em 1em 1em;
  }
  .project__flex__item {
    min-width: 90%;
  }
  .project__flex__item:nth-child(1) {
    padding-bottom: 0;
    border-bottom: none;
  }
  .project__flex__title {
    font-size: 1.9em;
  }
  .project__flex__text {
    font-size: 1.3em;
  }
  .project__main__btn {
    width: 130px;
    font-size: 1.3em;
  }
  .project__main__btn--previous {
    left: 0.8em;
  }
  .project__main__btn--next {
    right: 0.8em;
  }
  .footer {
    height: 170px;
  }
  .footer__info__container {
    margin: 1.5em 1em 1em;
    display: flex;
    flex-direction: column;
  }
  .footer__copyright {
    flex: 4
  }
  .footer-menu__list {
    flex: 4;
  }
  .footer__social-btn {
    flex: 5;
  }
}
