/* Colors
navy: #382266
pink: #ff789e
blue: #8d94ba
*/

/***  General styles  ***/

body {
  margin: 0;
  padding: 0;
  background-color:  #ff789e;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:focus {
 outline: none;
}

/* Titles */

.about__title,
.portfolio__title,
.contact__title {
  width: 100%;
  margin: 0;
  padding: 2em 0 1em;
  color: #ff789e;
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.title--white {
  color: #fff;
}
.about__title__dot,
.portfolio__title__dot,
.contact__title__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-color: #ff789e;
}
.title__dot--white {
  background-color: #fff;
}

/***  Navigation  ***/
.nav {
  max-width: 100%;
  height: 58px;
  margin: 0 auto;
  background-color: #382266;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  animation: slideInNav 1s 0.5s 1 forwards ease-in;
}
.nav__logo {
  max-width: 35px;
  height: auto;
  position: relative;
  top: 0.5em;
  left: 0.5em;
}
.nav__hamburger {
  position: absolute;
  top: 0.6em;
  right: 0.8em;
  cursor: pointer;
  opacity: 1;
}
.hamburger {
  stroke: #fff;
  stroke-width: 4;
  stroke-linecap: round;
}
.nav-menu {
  width: 0;
  height: 100%;
  background: linear-gradient(to top, #60689f, #8d94ba);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  transition: all 0.5s linear;
}
.nav-menu__cross {
  display: none;
  position: absolute;
  top: 0.8em;
  right: 0.6em;
  opacity: 0;
  cursor: pointer;
  z-index: 6;
}
.nav-menu__cross-line {
  stroke: #cfd2e2;
  stroke-width: 3;
  stroke-linecap: round;
}
.nav-menu__list {
  padding-top: 1.2em;
  margin-left: -0.7em;
}
.nav-menu__list-item {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  position: relative;
  top: 0;
  opacity: 0;
}
.nav-menu__link {
  color: #cfd2e2;
  transform: none;
  transition: all 0.1s linear;
}
.nav-menu__link:hover {
  color: #fff;
}
.nav-menu__separator {
  width: 76%;
  margin: 2em auto;
  height: 1px;
  background-color: #cfd2e2;
  border: none;
  opacity: 0;
}
.nav-menu__text,
.nav-menu__email {
  margin: 2em 2em;
  width: 200px;
  color: #cfd2e2;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  opacity: 0;
}
.nav-menu__link--email {
  color: #cfd2e2;
  transition: all 0.1s linear;
  opacity: 1;
}
.nav-menu__link--email:hover {
  color: #fff;
}
.nav-menu__social-btn {
  margin: 2em 1.3em;
  width: 250px;
  opacity: 0;
}
.fa.fa-twitter,
.fa.fa-codepen,
.fa.fa-github,
.fa.fa-youtube,
.fa.fa-linkedin-square {
  display: inline-block;
  margin: 0 5px;
  color: #cfd2e2;
  transition: all 0.2s linear;
}
.fa:hover {
  color: #fff;
}
.fa-2x {
  font-size: 1.2em;
}

/***  Header  ***/
.header {
  background-image: url(../images/header_background.svg);
  background-repeat: repeat;
  background-size: 400px;
  background-position: top left;
  height: 510px;
  text-align: center;
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.header__title {
  display: inline-block;
  background-color: #fff;
  padding: 0 15px;
  color: #ff789e;
  font-size: 2.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
}
.header__subtitle {
  display: inline-block;
  background-color: #8d94ba;
  padding: 3px 15px;
  color: #fff;
  font-size: 1.7em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0;
  position: absolute;
  top: 6em;
  left: 50%;
  transform: translateX(-50%);
}
.header__btn {
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-top-color: transparent;
  width: 220px;
  background-color: #8d94ba;
  border-radius: 25px;
  padding: 7px 0;
  color: #fff;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0;
  position: absolute;
  bottom: 6em;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s linear;
}
.header__btn:hover {
  box-shadow: 0 3px 5px -3px #333,
              inset 0 -50px 0 0 #382266;
  color: #fff;
}
.header__bottom {
  width: 70%;
  height: 45px;
  background-color: #382266;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
}
.header__mouse {
  width: 34px;
  height: auto;
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.header__mouse__roll {
  width: 34px;
  height: auto;
  position: absolute;
  bottom: 1.7em;
  left: calc(50% - 17.5px);
  z-index: 3;
}
.header__mouse__text {
  color: #fff;
  font-size: 0.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  bottom: -0.9em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

/*** Main section ***/
.main-container {
  opacity: 0;
  border-top: 40px solid #8d94ba;
  z-index: 4;
}

/*** About section ***/

.about {
  padding: 0 0em 3em;
  background-color: #382266;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about__text {
  min-width: 300px;
  max-width: 530px;
  box-sizing: content-box;
  background-color: #ff789e;
  padding: 0 2em 0;
  border-left: 15px solid #8d94ba;
}
.about__text__description {
  font-family: 'Open Sans', sans-serif;
}
.about__text__description:nth-child(1) {
  padding-bottom: 1em;
  color: #fff;
  font-size: 1.4em;
  font-weight: 400;
  border-bottom: 1px solid #fff;
}
.about__text__description:nth-child(n+2) {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}
.about__btn {
  display: inline-block;
  height: 26px;
  margin: 1em auto 2em;
  padding: 5px 20px;
  border-radius: 26px;
  background-color: #8d94ba;
  color: #fff;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: 4px solid #fff;
  border-bottom-color: transparent;
  border-top-color: transparent;
  transition: all 0.3s linear;
}
.about__btn:hover {
  box-shadow: inset 0 -50px 0 0 #382266;
  color: #fff;
}
.about__img {
  max-width: 360px;
  box-sizing: content-box;
  border-radius: 50%;
  border: 15px solid #ff789e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*** Portfolio ***/

.portfolio {
  background-color: #fff;
  padding: 0 2em 3em;
  z-index: 4;
}
.portfolio__description {
  max-width: 65%;
  margin: 0 auto 2em;
  color: #382266;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}
.portfolio__items-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio__item {
  margin: 0.1em;
  background-color: #ff789e;
  width: 340px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.portfolio__item__thumbnail {
  width: 100%;
  height: auto;
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.5s linear;
  z-index: 4;
}
.portfolio__item:hover .portfolio__item__thumbnail {
  transform: scale(1.1) translateY(100%);
}
.portfolio__item:hover .portfolio__item__hover {
  transform: translateY(25%);
}
.portfolio__item__hover {
  width: 100%;
  height: 100%;
  background-color: #ff789e;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.4s linear;
  text-align: center;
  opacity: 1;
  z-index: 3;
}
.portfolio__item__hover__title {
  margin: 0;
  color: #fff;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.portfolio__item__hover__description {
  margin: 0;
  color: #fff;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/*** Contact ***/

.contact {
  padding: 0 0 3em;
  background-color: #ff789e;
  text-align: center;
}
.contact__description {
  margin: 0 auto;
  color: #fff;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}
.contact__link {
  display: inline-block;
  margin-top: 1em;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #fff;
  transition: all 0.1s linear;
}
.contact__link:hover {
  color: #cfd2e2;
  border-color: #cfd2e2;
}
.contact__envelope {
  background-image: url(../images/envelope.svg);
  background-size: 550px;
  height: 500px;
  background-position: 95% 20%;
  background-repeat: no-repeat;
}
.contact__social-btn__container {
  display: block;
  width: 390px;
  margin: 3em auto 0;
}
.contact__btn__link:first-child{
  margin-left: -1.5em;
}
.contact__social-btn {
  display: inline-block;
  width: 25px;
  height: 23px;
  padding: 10px;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 25px;
  border: 4px solid rgba(255,255,255, 1);
  border-bottom-color: transparent;
  border-top-color: transparent;
  transition: all 0.3s linear;
  margin-left: -1em;
}
.contact__social-btn__container .fa.fa-twitter,
.contact__social-btn__container .fa.fa-codepen,
.contact__social-btn__container .fa.fa-github,
.contact__social-btn__container .fa.fa-youtube,
.contact__social-btn__container .fa.fa-linkedin-square {
  color: #fff;
  position: relative;
  left: 1.1em;
  top: -0.55em;
}
.contact__social-btn__container .fa.fa-codepen {
  left: 1.15em;
}
.contact__social-btn:hover {
  transform: rotate(180deg);
  background-color: rgba(255,255,255, 0.5);
}
.contact__social-btn__container .fa-2x {
  font-size: 1.5em;
}
/***  Footer  ***/

.footer {
  border-top: 2px solid #cfd2e2;
  height: 110px;
  background-color: #382266;
  opacity: 0;
}
.footer__info__container {
  margin: 1.5em 4em 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__copyright {
  flex: 2;
  margin: 0;
  color: #cfd2e2;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}
.footer-menu__list {
  flex: 2;
  text-align: center;
  padding: 0;
}
.footer-menu__list-item {
  display: inline-block;
  margin: 0 0.5em;
  color: #fff;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  opacity: 1;
}
.footer-menu__link {
  color: #cfd2e2;
  transform: none;
  transition: all 0.1s linear;
}
.footer-menu__link:hover {
  color: #fff;
}
.footer__social-btn {
  flex: 2;
  opacity: 1;
  text-align: right;
}
.fa.fa-twitter,
.fa.fa-codepen,
.fa.fa-github,
.fa.fa-youtube,
.fa.fa-linkedin-square {
  display: inline-block;
  margin: 0 5px;
  color: #cfd2e2;
  transition: all 0.2s linear;
}
.footer__social-btn .fa:hover {
  color: #fff;
}
.footer__social-btn .fa-2x {
  font-size: 1.5em;
}
