/* Colors
navy: #382266
pink: #ff789e
blue: #8d94ba
*/

/***  General styles  ***/

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:focus {
 outline: none;
}

/* Titles */

.about__title,
.portfolio__title {
  width: 100%;
  margin: 0;
  padding: 2em 0 1em;
  color: #ff789e;
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.about__title__dot,
.portfolio__title__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-color: #ff789e;
}

/***  Navigation  ***/
.nav {
  max-width: 100%;
  height: 58px;
  margin: 0 auto;
  background-color: #382266;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  animation: slideInNav 1s 0.5s 1 forwards ease-in;
}
.nav__logo {
  max-width: 35px;
  height: auto;
  position: relative;
  top: 0.5em;
  left: 0.5em;
}
.nav__hamburger {
  max-width: 35px;
  height: auto;
  position: absolute;
  top: 0.16em;
  right: 0.8em;
  cursor: pointer;
}
.nav__hamburger-line {
  width: 100%;
  height: 6px;
  position: relative;
}
.nav__hamburger-line:first-child {
  top: 0em;
}
.nav__hamburger-line:nth-child(2) {
  bottom: 0.5em;
}
.nav__hamburger-line:last-child {
  bottom: 1em;
}
.nav-menu {
  width: 0;
  height: 100%;
  background: linear-gradient(to top, #60689f, #8d94ba);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  transition: all 0.5s linear;
}
.nav-menu__cross {
  max-width: 35px;
  height: 35px;
  position: relative;
  top: 0.5em;
  left: 100%;
  transform: translateX(-2.5em);
  opacity: 0;
  cursor: pointer;
}
.nav-menu__line {
  width: 100%;
  height: 4px;
  position: absolute;
}
.nav-menu__line:first-child {
  top: 0.8em;
  right: 0;
  transform: rotateZ(45deg);
}
.nav-menu__line:last-child {
  top: 0.8em;
  right: 0;
  transform: rotateZ(-45deg);
}
.nav-menu__list {
  margin-top: 2em;
  margin-left: -0.7em;
}
.nav-menu__list-item {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  position: relative;
  top: 0;
  opacity: 0;
}
.nav-menu__link {
  color: #cfd2e2;
  transform: none;
  transition: all 0.1s linear;
}
.nav-menu__link:hover {
  color: #fff;
}
.nav-menu__separator {
  width: 76%;
  margin: 2em auto;
  height: 0.5px;
  background-color: #cfd2e2;
  border: none;
  opacity: 0;
}
.nav-menu__text,
.nav-menu__email {
  margin: 2em 2em;
  width: 200px;
  color: #cfd2e2;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  opacity: 0;
}
.nav-menu__link--email {
  color: #cfd2e2;
  transition: all 0.1s linear;
  opacity: 1;
}
.nav-menu__link--email:hover {
  color: #fff;
}
.nav-menu__social-btn {
  margin: 2em 1.3em;
  width: 250px;
  opacity: 0;
}
.fa.fa-twitter,
.fa.fa-codepen,
.fa.fa-github,
.fa.fa-youtube,
.fa.fa-linkedin-square {
  display: inline-block;
  margin: 0 5px;
  color: #cfd2e2;
  transition: all 0.2s linear;
}
.fa:hover {
  color: #fff;
}
.fa-2x {
  font-size: 1.2em;
}

/***  Header  ***/
.header {
  background-image: url(../images/header_background.svg);
  background-repeat: repeat;
  background-size: 400px;
  background-position: top left;
  height: 510px;
  text-align: center;
  position: relative;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  transition: all 1s linear;
}
.header__title {
  display: inline-block;
  background-color: #fff;
  padding: 0 15px;
  color: #ff789e;
  font-size: 2.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  animation: slideInTitle 0.8s 1s 1 forwards ease-in;
}
.header__subtitle {
  display: inline-block;
  background-color: #8d94ba;
  padding: 3px 15px;
  color: #fff;
  font-size: 1.7em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: slideInSubtitle 0.8s 1.5s 1 forwards ease-in;
}
.header__btn {
  border: 2px solid #fff;
  width: 220px;
  background-color: #8d94ba;
  border-radius: 25px;
  padding: 7px 0;
  color: #fff;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0;
  position: absolute;
  bottom: 6em;
  left: 50%;
  transform: translateX(-50%);
  animation: slideInBtn 0.8s 1.8s 1 forwards ease-in;
  transition: all .3s linear;
}
.header__btn:hover {
  box-shadow: 0 3px 5px -3px #333,
              inset 0 -50px 0 0 #382266;
  color: #fff;
}
.header__bottom {
  width: 70%;
  height: 45px;
  background-color: #382266;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
  animation: slideInBottom 1s 2s 1 forwards ease-in;
}
.header__mouse {
  width: 34px;
  height: auto;
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.header__mouse__roll {
  width: 34px;
  height: auto;
  position: absolute;
  bottom: 1.7em;
  left: calc(50% - 17.5px);
  z-index: 3;
  animation: roll 2s infinite normal forwards;
}
.header__mouse__text {
  color: #fff;
  font-size: 0.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  bottom: -0.9em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

/*** Main section ***/
.main-container {
  position: relative;
  padding-bottom: 3em;
  border-top: 40px solid #8d94ba;
}

/*** About section ***/
.about {
  padding: 0 6em 3em;
  background-color: #382266;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about__text {
  flex: 5;
  box-sizing: content-box;
  background-color: #ff789e;
  padding: 0 2em 0;
  border-left: 15px solid #8d94ba;
}
.about__text__description {
  font-family: 'Open Sans', sans-serif;
}
.about__text__description:nth-child(1) {
  padding-bottom: 1em;
  color: #fff;
  font-size: 1.4em;
  font-weight: 400;
  border-bottom: 1px solid #fff;
}
.about__text__description:nth-child(n+2) {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}
.about__btn {
  display: inline-block;
  margin: 1em auto 0;
  padding: 7px 20px;
  border-radius: 20px;
  background-color: #8d94ba;
  color: #fff;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: 2px solid #fff;
  transition: all 0.3s linear;
}
.about__btn:hover {
  box-shadow: inset 0 -50px 0 0 #382266;
  color: #fff;
}
.about__img {
  flex: 3;
  box-sizing: content-box;
  border-radius: 50%;
  height: auto;
  border: 15px solid #ff789e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*** Portfolio ***/

.portfolio {
  padding: 0 2em;
}
.portfolio__items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio__item {
  margin: 1em;
  width: 250px;
  height: 250px;
  background-color: #ff789e;
}
